@use '../../utils/colors';
@use '../../utils/mixins';

.tag {
    color: white;
    background-color: colors.$primary;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;

    @include mixins.mobile {
        padding: 2px 30px;
        font-size: 10px;
        border-radius: 5px;
    }

    &:not(:last-child) {
        margin-right: 10px;
    }
}