@use '../../utils/mixins';

.hero {
    @include mixins.flex();
    flex-wrap: wrap;
    height: 223px;
    border-radius: 25px;
    margin: 45px 100px;
    background-color: hsla(100, 100%, 0%, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding: 32px;

    @include mixins.tablet {
        height: 175px;
        border-radius: 17px;
        padding: 24px;
        margin: 45px 50px;
    }

    @include mixins.mobile {
        height: 111px;
        border-radius: 10px;
        padding: 16px;
        margin: 20px;
    }

    &--home {
        background-image: url('../../assets/heroHome.jpg');
    }

    &--about {
        background-image: url('../../assets/heroAbout.jpg');
    }

    &-title {
        color: hsla(0, 0%, 100%, 1);
        font-size: 48px;
        font-weight: normal;
        line-height: 100%;

        @include mixins.laptop {
            width: 100%;
            text-align: left;
        }

        @include mixins.tablet {
            font-size: 36px;
        }

        @include mixins.mobile {
            font-size: 24px;
        }
    }
}