@use "sass:color";
@use '../../utils/mixins';
@use '../../utils/colors';

.collapse {
    @include mixins.flex(column, center, center);

    &--small {
        font-size: 18px;

        @include mixins.mobile {
            font-size: 12px;
        }
    }

    &--large {
        font-size: 24px;

        @include mixins.tablet {
            font-size: 18px;
        }

        @include mixins.mobile {
            font-size: 13px;
        }
        
        &:not(:last-child) {
            margin-bottom: 30px;

            @include mixins.mobile {
                margin-bottom: 20px;
            }
        }
    }

    &-main {
        @include mixins.flex(row, space-between, center);
        background-color: colors.$primary;
        font-size: inherit;
        padding: 10px 18px;
        border-radius: 5px;
        width: 100%;
        transition: all 0.3s;

        @include mixins.mobile {
            padding: 6 11px;
        }

        &:hover,&:focus {
            cursor: pointer;
            background-color: adjust-color($color: colors.$primary, $lightness: 10%);
        }

        &-title {
            color: white;
        }

        &-icon {
            @include mixins.flex();
            transition: all 0.3s;

            &--open {
                transform: rotate(-180deg);
            }

            @include mixins.mobile {
                img {
                    width: 15px;
                }
            }
        }
    }

    &-content {
        @include mixins.flex(column, center, flex-start);
        color: colors.$primary;
        background-color: colors.$secondary;
        font-weight: 400;
        line-height: 145%;
        padding: 30px 18px;
        border-radius: 5px;
        position: relative;
        top: -5px;
        z-index: -1;
        width: 100%;
        transition: all 0.5s;

        @include mixins.mobile {
            font-size: 20px 11px;
        }
    }
}