@use '../../utils/mixins';
@use '../../utils/colors';

.header {
    @include mixins.flex(row, space-between, center);
    margin: 40px 100px;

    @include mixins.tablet {
        margin: 40px 50px;
    }

    @include mixins.mobile {
        margin: 20px 20px 16px;
    }

    &-logo {
        @include mixins.tablet {
            height: 55px;
        }

        @include mixins.mobile {
            height: 47px;
        }
    }

    &-nav {
        @include mixins.flex();

        &-link {
            font-size: 24px;
            color: colors.$primary;
            padding: 10px;
            transition: all 0.3s;

            @include mixins.tablet {
                font-size: 18px;
            }

            @include mixins.mobile {
                font-size: 12px;
                padding: 0px;
                text-transform: uppercase;
            }

            &--inactive {
                text-decoration: none;

                &:hover, &:focus {
                    color: white; 
                    background-color: colors.$primary;
                    border-radius: 5px;

                    @include mixins.mobile {
                        color: colors.$primary; 
                        background-color: white;
                    }
                }
            }

            &--active {
                text-decoration: underline;
            }

            &:not(:last-child) {
                margin-right: 37px;

                @include mixins.laptop {
                    margin-right: 15px;
                }

                @include mixins.tablet {
                    margin-right: 3px;
                }

                @include mixins.mobile {
                    margin-right: 10px;
                }
            }
        }
    }
}